# python 3.11
torch==2.4.1
matplotlib==3.5.3
ruamel.yaml==0.17.4
moviepy==1.0.3
einops==0.3.0
protobuf==3.20.0
gym==0.22.0
mujoco==3.3.1
# dm_control==1.0.28
memory_maze==1.0.3
# crafter==1.8.0‘’
opencv-python==4.7.0.72
numpy==1.23.5
tensorboard==2.17.1
# ruamel-yaml~=0.17.4
dill==0.4.0
metaworld==2.0.0
pandas
openpyxl
# conda install -c conda-forge sumo #SUMO
# pip install pysc2
# pip install git+https://github.com/oxwhirl/smac.git
